{%extends 'base.html'%}
{%block title%}首页{%endblock%}
{% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
{%block main%}
    <ul>
        {% for i in questions %}
         <li>
            <div class="avatar-group">
                <img src="{{ url_for('static',filename='images/timg1.jpg') }}" alt="" class="avatar img-rounded" >
            </div>
            <div class="question-group">
                <p class="question-title"><a href="{{ url_for('detail',question_id=i.id) }}">{{ i.title }}</a></p>
                <p class="question-content">{{ i.content }}</p>
                <div class="question-info">
                    <span class="question-author">{{ i.author.username }}</span>
                    <span class="question-time">{{ i.create_time }}</span>
                </div>
            </div>
        </li>

        {% endfor %}


    </ul>

{%endblock%}
