{%extends 'base.html'%}
{%block title%}登陆{%endblock%}
{% block head%}
<link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
{%endblock%}

{%block main%}
<h3 class="character">Enter</h3>
<form action="" method="post">
    <div class="form-container" >
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Telephone" name="telephone">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">登陆</button>


        </div>

    </div>
</form>
{%endblock%}